includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - database
        - routes

    level: 5
    tmpDir: storage/framework/cache/phpstan
